
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>

      <p>You can choose anything you like, as long as it's one of the below</p>

      <p><div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which cuisine do you want to eat today?
      </h1>
    </legend>
    <span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
          Pizza from Italy
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Ramen from Japan
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Borscht from Ukraine
        </label>
      </div>
    </div>
  </fieldset>
</div></p>


  <a href="page2" class="govuk-button">Submit</a>


      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
