
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Food</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Yummy, extra yum and super yum</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Super yum</li>

        </ol>
      </div>

      <p>Eat until you are full. You chose noodle pizza with beetroot!</p>

    </div>
</div>

{% endblock %}
